
body {
  display: flex;
  justify-content: center;
  font-family: 'karla', sans-serif;
}

.App {
  background-color: royalblue;
  height: 30rem;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 27rem;
  width: 27rem;
  background-color: #F5F5F5;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.button-div {
  margin-top: 10px;
}

button {
  font-family: 'karla', sans-serif;
  height: 3rem;
  width: 9rem;
  font-size: 1.5rem;
  background-color: rgb(220, 20, 93);
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

h3 {
  color: rgb(8, 21, 83);
  margin-top: -1rem;
}

.text {
  color: #5A5A5A;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.dieFace {
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: karla;
  box-shadow: 1px 2px lightgray;
  color: #5A5A5A;
  cursor: pointer;
  font-size: 2rem;
}